{% extends "base.html" %}
{% block title %}Home Page{% endblock %}
{% block content %}
<form action="#" method="post">
    <p>UserID</p>
    <p><input type="text" name="userId" /></p>
    <p>PostID</p>
    <p><input type="text" placeholder="Enter 0 for all posts" name="postId" /></p>
    <p>Title</p>
    <p><input type="text" name="title" /></p>
    <p>Body</p>
    <p><input type="text" name="body" /></p>
    <p>
        <input type="submit" value="GET" name="get" />
        <input type="submit" value="POST" name="post" />
        <input type="submit" value="PUT" name="put" />
        <input type="submit" value="DELETE" name="delete" />
    </p>
</form>
{% endblock %}